<div *ngIf="selectedPerson">
<h2>Wybrałeś osobę: {{selectedPerson.name}}</h2>
<div><label>id: </label>{{selectedPerson.id}}</div>
<div>
    <label>like: </label>{{selectedPerson.like}}
</div>
<div>
    <label>name: </label>
    <input [(ngModel)]="selectedPerson.name" placeholder="name"/><br />
    <label>surname: </label>
    <input [(ngModel)]="selectedPerson.surname" placeholder="surname"/>
</div>
</div>
<h2>List of person</h2>
<ul class="persons">
  <li *ngFor="let person of persons" (click)="onSelect(person)"> 
    <span class="badge">{{person.id}}</span> {{person.name}}
        <div *ngIf="selectedPerson" class="like">
            <button class="button" (click)="licznik(selectedPerson)">LIKE</button>
        </div>
  </li>
    <button class="sort" (click)="onSort()">Kto ma najwięcej lajkow</button>    
</ul>
<button (click)="showForm()">Dodaj osobę</button>
<my-dashboard *ngIf="isForm<0" (addToList)="addPerson($event)"></my-dashboard>

  
